<div class="p-10 flex flex-col gap-10">
  <div class="mb-4">
    <a class="p-3 border-2 rounded-lg cursor-pointer" href="/product/tambah">
      Tambah
    </a>
  </div>
  <a
    class="p-3 min-h-10 flex flex-col gap-1 border-2 rounded-lg"
    *ngFor="let product of products"
    routerLink="/product/{{ product.id }}"
    target="_blank"
  >
    <div>id : {{ product.id }}</div>
    <div>title : {{ product.title }}</div>
    <div>price : {{ product.price }}</div>
    <div>description: {{ product.description }}</div>
    <div>category: {{ product.category }}</div>
    <img
      class="mt-4 self-center"
      src="{{ product.image }}"
      alt=""
      width="100px"
    />
  </a>
</div>
